header {
    background-image: url(../img/hero/hero-1.jpg);
    padding: 12rem 0 4rem;
    background-position: center;
}
.slider {
    flex-direction: column;
}

.slider-content {
    width: 100%;
    max-width: 575px;
}
.slide {
    display: none;
    flex-direction: column;
    padding: 6rem 0;
    align-items: flex-start;
    transform: translateY(100px);
    opacity: 0;
}
.slide.active {
    opacity: 1;
    transform: translateY(0);
    display: flex;
}
h1.title {
    font-size: 5rem;
    margin-top: 0;
}
h5.subtitle {
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 400;
}
.navigation-number {
    cursor: pointer;
    padding: 1rem 0;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    font-family: "Play", sans-serif;
    color: var(--para-color);
    border-bottom: 1px solid currentColor;
}
.navigation-number.active {
    color: white;
    border-bottom-width: 2px;
}
