#OUR-SERVICES {
    flex-wrap: wrap;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
/* main part of services */
.main {
    width: 100%;
    max-width: 350px;
    margin-right: 1rem;
}
.main p {
    margin-bottom: 5rem;
}

h2.title {
    font-size: 3.2rem;
    margin-top: 0;
    padding-bottom: 2rem;
    position: relative;
}
h2.title::after {
    content: " ";
    left: 0;
    bottom: 0;
    position: absolute;
    width: 20%;
    border-bottom: 5px solid var(--primary-color);
}
h4.subtitle {
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
/* secondary part of services */
.secondary {
    width: 100%;
    max-width: 700px;
    display: flex;
    padding-left: 3rem;
    gap: 20px;
    flex-wrap: wrap;
}
.service {
    width: 100%;
    max-width: calc(340px - 1.5rem);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.image-container {
    position: relative;
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}
.image-container::before {
    content: " ";
    border: 2px solid var(--primary-color);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transition: transform 0.4s ease-in-out;
}
.image-container:hover::before {
    transform: rotate(45deg);
}
.service-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

/* # Gallery  */
#Gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 1rem;
}
.video {
    position: relative;
    overflow: hidden;
}
.video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video > a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.8rem;
    border: 1px solid white;

    border-radius: 50%;
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.video-large {
    grid-column: span 2 / auto;
}
.video-tall {
    grid-row: span 2 / auto;
}
.info {
    background: rgba(0, 0, 0, 0.6);
    transition: transform 0.3s ease-in-out;
    padding: 2rem;
}
.info h5 {
    font-size: 2rem;
    margin: 0;
}
.info .tags {
    display: flex;
}
.info .tags p {
    margin: 0;
}
.info .tags p:not(:last-child)::after {
    content: "/";
    margin: 0 1rem;
}
.video:hover .info {
    transform: translateY(-100%);
}
/* statistics */
#Statistics {
    justify-content: center;
    overflow: hidden;
    padding: 15rem 0;
}
.stats {
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    transform: rotate(45deg);
    transform-origin: center;
    position: relative;
}
.stats .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(-45deg);
}
.stats h2 {
    font-size: 5rem;
    margin: 0.5rem 0;
}
.stats h6 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.stats:nth-child(odd) {
    margin-top: 176.775px;
}
.stats:not(:first-of-type):not(:last-of-type)::before,
.stats:not(:first-of-type):not(:last-of-type)::after {
    content: " ";
    border: 1px solid #333333;
    top: -52px;
    left: -52px;
    width: 603px;
    height: 603px;
    position: absolute;
}
.stats:not(:first-of-type):not(:last-of-type)::after {
    top: unset;
    left: unset;
    bottom: -52px;
    right: -52px;
    border-top: none;
    border-left: none;
}
.stats:not(:first-of-type):not(:last-of-type)::before {
    border-bottom: none;
    border-right: none;
}
