@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Play:wght@400;700&display=swap");

:root {
    --primary-color: #00bfe7;
    --secondary-color: #0c2b4b;
    --purple: #1a083d;
    --background-color: #100028;
    --heading-color: #111111;
    --para-color: #adadad;
    --heading-color-2: #323232;
    --normal-color: #1c1c1c;
    --background: #f5f5f5;
    --background-2: #f2f2f2;
    --border: #ebebeb;
    --border-1: #e1e1e1;
    /* --fm-unna: "Unna", serif;
    --fm-nunito: "Nunito Sans", sans-serif; */
}

* {
    box-sizing: border-box;
}
html {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Play", sans-serif;
}

p {
    color: var(--para-color);
    font-size: 1.3rem;
    line-height: 1.4;
}
body {
    background-color: var(--background-color);
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1150px;
    display: flex;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
a.button {
    color: white;
    padding: 1.2rem 3rem;
    text-decoration: none;
    font-weight: bold;
    font-family: "Play", sans-serif;
    letter-spacing: 2px;
    font-size: 1.25rem;
    position: relative;
    text-transform: uppercase;
}
a.button::before,
a.button::after {
    content: " ";
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--primary-color);
    transition: width 800ms ease-in-out, height 800ms ease-in-out;
}
a.button::before {
    left: 0;
    top: 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
}
a.button::after {
    right: 0;
    bottom: 0;
    border-left-color: transparent;
    border-top-color: transparent;
}
a.button:hover::before,
a.button:hover::after {
    width: calc(100% - 4px);
    height: calc(100% - 4px);
}
.readmore {
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
}
.readmore i {
    margin-left: 1rem;
    font-size: 1.3rem;
}
